<template name="homeIntro">
  <div id="intro" class="section">
    <div class="container">
      <div class="row">
        <div  class="col s12">
          <h2 class="center header text_h2">"We pride ourselves on being a <span class="span_h2">well-rounded</span> group of <span class="span_h2">diverse</span> individuals. Our experiences and the relationships we have made will extend <span class="span_h2">far beyond</span> our college years."</h2>
        </div>

        <div  class="col s12 m4 l4">
          <div class="center promo promo-example">
            <div class="waves-effect waves-block waves-light">
              <img class="circle activator" src="/images/default-user.png">
            </div>
            <h5 class="promo-caption">Largest on Campus</h5>
            <p class="light center">With over 100 active brothers, Lambda Chi Alpha is proud to be the largest fraternity on Georgia Tech's campus. We are only a small portion of the network of over 2000 members in our chapter worldwide.</p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <div class="waves-effect waves-block waves-light">
              <img class="circle activator" src="/images/default-user.png">
            </div>
            <h5 class="promo-caption">Philanthropy and GPA</h5>
            <p class="light center">Lambda Chi Alpha donates thousands of dollars and hundreds of pounds of food a semester to the North American Food Drive and consistently raises the most research funding of all fraternities to the St. Baldrick's Foundation. In addition, brothers in good standing boast an average 3.44 GPA.</p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <div class="waves-effect waves-block waves-light">
              <img class="circle activator" src="/images/default-user.png">
            </div>
            <h5 class="promo-caption">School Pride</h5>
            <p class="light center">We are extremely spirited wiht the fourth best overall football attendance and a top five finish in both Homecoming and Greek Week.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
