<template name="homeHeader">
  <div class="navbar-fixed">
    <nav id="nav_f" class="default_color">
      <div class="nav-wrapper">
        <div class="container">
          <a class="brand-logo amber-text text-lighten-1" href="{{pathFor 'home'}}">ΛΧΑ | GT</a>
          <ul class="navbar-button right hide-on-med-and-down">
            <!-- <li class="{{ isActiveRoute regex='home' }}"><a href="{{pathFor 'home'}}" title="Home">Home</a></li> -->
            {{#if currentUser}}
              <li class="bold"><a href="#" data-action="logout">Sign Out</a></li>
            {{else}}
              <li class="bold"><a class="modal-trigger" href="#signUp" title="Sign Up">Sign Up</a></li>
              <li class="bold"><a class="modal-trigger" href="#signIn" title="Sign In">Sign In</a></li>
            {{/if}}
          </ul>
          <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
        </div>
      </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="side-nav">
    <li class="bold {{isActiveRoute regex='home'}}"><a href="{{pathFor 'home'}}" title="Home">Home</a></li>
    <li class="bold"><a class="modal-trigger" href="#signUpModal" title="Sign Up">Sign Up</a></li>
    <li class="bold"><a class="modal-trigger" href="#signInModal" title="Sign In">Sign In</a></li>
  </ul>
  <div id="signIn" class="modal">
    <div class="modal-content">
      {{> atForm state='signIn'}}
    </div>
  </div>
  <div id="signUp" class="modal">
    <div class="modal-content">
      {{> atForm state='signUp'}}
    </div>
  </div>
</template>
