.default_color{background-color: #388e3c !important}

.default_color_text{color: #ffca28 !important}

#intro, #events, #officers {padding-top: 4rem;}

#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: #388e3c;
}

#nav_f{
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #388e3c;}

.text_b{color: #388e3c;}

/*.in{font-weight: 400 !important; font-style: normal !important;}*/

.promo i {
    color: #388e3c;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #388e3c;}

.card-content a:hover {color: #388e3c;}

#events, #officers{background: rgb(247, 247, 247);}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

.promo img {
    height: 200x;
    width: 200px;
    border-radius: 100px;
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}
