<template name='postEdit'>
  <div class="container-fluid">
    <div class="row">
      <form class="main form page">
        <div class="form-group {{errorClass 'content'}}">
          <label class="control-label" for="content">Content</label>
          <div class="controls">
            <textarea name="content" id="content" class="form-control" value="{{content}}" placeholder="Your content"  rows="3"></textarea>
            <span class="help-block">{{errorMessage 'content'}}</span>
          </div>
        </div>
        <div class="">
          <span class="flex"></span>
          <a class="btn btn-danger delete" href="#">Delete post</a>
          <input type="submit" value="Save Changes" class="btn btn-primary submit"/>
        </div>
      </form>
    </div>
  </div>
</template>
